!.env.example
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
**/.vitepress/cache
**/.vitepress/dist
*.launch
*.lcov
*.log
*.pid
*.pid.lock
*.seed
*.sublime-workspace
*.tgz
*.tsbuildinfo
.DS_Store
.agentbridge
.c9/
.cache
.cache/
.classpath
.docusaurus
.dynamodb/
.env
.env.*
.eslintcache
.firebase/
.fusebox/
.grunt
.idea
.lock-wscript
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.ollamassist
.output
.parcel-cache
.pnp.*
.pnpm-store
.project
.serverless/
.settings/
.stylelintcache
.svelte-kit/
.temp
.tern-port
.vite/
.vscode-test
.vscode/*
.vuepress/dist
.yarn-integrity
.yarn/*
/*.tgz
/.docker/
/.env
/.idea
/.nyc_output
/coverage
/dist/
/node_modules
/node_modules/
/package-lock.json
/temp
/test/**/.extract_tmp
/test/**/hardwired-*.tgz
/test/**/node_modules/
/yarn.lock
bower_components
build/Release
coverage
dist
jspm_packages/
lerna-debug.log*
lib-cov
logs
node_modules/
npm-debug.log*
out
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
web_modules/
yarn-debug.log*
yarn-error.log*
